.page-footer {
    width: 95%;
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(33, 33, 33);
    color: rgb(107, 107, 107);
    border: 1px solid white;
    justify-content: space-between;
    align-self: center;
}

.copyright-footer {
    width: 200px;
}

.empty-div {
    width: 200px;
}

.social-media-links-languages {
    width: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.social-media-languages-footer-image {
    margin-left: 10px;
}