
:root {
  --primary-bg: rgb(33, 33, 33);
  --text-color: rgb(143, 143, 143);
  --shadow-color: grey;
  --transition-duration: 0.3s;
  --font-size-extra-large: 30px;
  --font-size-large: 25px;
  --font-size-medium: 20px;
}

.wrapper-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg);
  opacity: 1;
  transition: opacity var(--transition-duration);
}

.wrapper-home-white {
  opacity: 0;
  transition: opacity var(--transition-duration);
}

.container-home {
  display: flex;
  width: 100%;
  height: 96vh;
}

.user-info-home {
  flex: 0 0 61.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-name-element {
    color: var(--text-color);
    font-size: var(--font-size-extra-large);
    font-weight: 400;
    width: 80%;
    transition: font-size var(--transition-duration);
    white-space: pre-line;
}

.user-info-element {
  color: var(--text-color);
  font-size: var(--font-size-large);
  font-weight: 400;
  width: 80%;
  transition: font-size var(--transition-duration);
  white-space: pre-line;
  line-height: 2;
  font-style: italic;
  /* text-align: justify; */
}

.menu {
  flex: 0 0 38.2%;
  display: flex;
  flex-direction: column;
}

.menu-element {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow var(--transition-duration);
}

.menu-element:hover {
  box-shadow: inset 0 0 5px var(--shadow-color);
}

.page-name {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 400;
  transition: text-decoration var(--transition-duration);
}

.page-name:hover {
  text-decoration: underline;
}

.page-link {
  display: contents;
}

.profile-picture-home {
  display: none;
}

@media screen and (max-width: 768px) {
  .user-info-element {
    font-size: var(--font-size-medium);
  }

  .page-name {
    font-size: var(--font-size-medium);
  }
}